:root {
    --basic-black: #000000;
    --basik-dark: #283136;
    --basic-neutral: #E1E1E1;
    --basic-white: #FFFFFF;
    --basic-grey: #4D4D4D;
    /* Button colors */
    --light-red: #FB565A;
    --red: #E74246;
    --dark-red: #D7373B;
    --light-green: #00CA74;
    --green: #00BC6C;
    --basic-dark-green: #00AA62;
    --light-yellow: #EFC849;
    --yellow: #EAB534;
    --dark-yellow: #E5A722;
    --white-border: #DBDBDB;
    --light-grey: #EEEEEE;
    --gainsboro: #DFDFDF;
    --button-grey: #D5D5D5;
    /*Filter colors */
    --range-grey: #D7DCDF;
    --sorting-grey: #A6A6A6;
    --sorting-black: #231F20;
    --range-circle-grey: #ABABAB;
    /* RGB COLORS */
    --basic-black-alpha: rgba(0, 0, 0, 0.3);
    --basic-shadow-alpha: rgba(0, 1, 1, 0.1);
    --basic-white-alpha:  rgba(255, 255, 255, 0.3);
    --range-shadow-alpha: rgba(0, 0, 0, 0.15);
    --catalog-shadow-alpha: rgba(0, 1, 1, 0.25);
    --radio-disabled: rgba(40, 49, 54, 0.3);
    --catalog-bg:  rgba(77, 77, 77, 0.12);
    --white-link-alpha: rgba(0, 0, 0, 0.0001); 
    --placeholder-alpha: rgba(68, 68, 68, 0.5);
    --popup-shadow: rgba(0, 0, 0, 0.4);
    /* Other */
    --dim-grey: #666666;
    --goshawk-grey: #444444;
    --modal-grey: #D7DCDE;
    --placeholder-border-grey: #B4B9BB;
}

.page-body {
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basik-dark);
    background-color: var(--basic-white);
    min-height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
    -ms-grid-rows: min-content 1fr min-content;
    grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: min-content 1fr min-content;
    -ms-flex-line-pack: start;
        align-content: start;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Grid */

.page {
    height: 100%;    
}

.navbar-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
    max-width: 1160px;
    margin: 0 auto;
    margin-bottom: 0; 
    padding-top: 48px;   
}

.information {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 20px;
    padding-bottom: 92px;
    border-bottom: 2px solid var(--light-grey);
}

.information p {
    padding-right: 15px;
    margin-right: 70px;
}

.description {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 374px;
    grid-template-columns: 1fr 374px;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    margin-top: 40px;
    margin-bottom: 45px;
    padding-bottom: 48px;
    border-bottom: 2px solid var(--light-grey);
}

.stats-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr -5px 1fr -5px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: -5px;
       -moz-column-gap: -5px;
            column-gap: -5px;
    margin-left: 15px;
}

.catalog-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 260px 1fr;
    grid-template-columns: 260px 1fr;    
    -ms-grid-rows: 60px 1fr;    
    grid-template-rows: 60px 1fr;
}

.catalog-wrap > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.catalog-wrap > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.catalog-wrap > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.catalog-wrap > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.catalog {
    margin-left: 140px;
    margin-right: 0;
    padding-right: 0;
    margin-top: 18px;
}

.sorting {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;    
    margin-left: 140px;
}

.filter {
    grid-row: 1/-1;
}

.catalog-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 38px;
}

.partners {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    border-bottom: 2px solid var(--light-grey);
}

/* Header */

.main-header {
    background-color: var(--light-grey); 
}

.page-body .navbar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo-img:hover,
.logo-img:focus {
    opacity: 0.7;
}

.logo-img:active{
    opacity: 0.3;
}

.navbar {     
    font-weight: 500;    
    line-height: 30px;    
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar-cart {
    padding-top: 8px;
}

.navbar-link {    
    color: var(--basic-black);
}

.navbar-cartlink {
    position: relative;
}

.navbar-cartlink::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("../img/icons/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: -40px;
    margin-top: 7px;
}

.navbar-cart .navbar-link:active::before {
    opacity: 1;
}

.navbar-item a:not([href]){
    padding-bottom: 19px;
    border-bottom: 2px solid var(--light-red);
}

.navbar .navbar-list {    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 437px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 202px;
    margin-top: 7px;
}

.clear-list {
    list-style: none;
    margin: 0;
    padding: 0;    
}

.navbar-link:hover,
.navbar-link:focus {
    color: var(--light-red);
}

.navbar-link:active {
    color: var(--basic-black-alpha);
}

/* Container */

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Body */
/* Slider */

.slider {    
    background-color: var(--light-grey);
    position: relative;
    margin-top: 0;
    margin-bottom: 80px;
}

.slide-one {
    background-image: url("../img/slider-bg1.png");    
    background-repeat: no-repeat;
    background-position: right bottom;    
    width: 1160px;
    margin: auto;
    padding-bottom: 92px;
    padding-top: 68px;
}

.slide-two {
    background-image: url("../img/slider-bg2.png");    
    background-repeat: no-repeat;
    background-position: right bottom;    
    width: 1160px;
    margin: auto;
    padding-bottom: 92px;    
    padding-top: 68px;
}

.slide-three {
    background-image: url("../img/slider-bg3.png");    
    background-repeat: no-repeat;
    background-position: right bottom;    
    width: 1160px;
    margin: auto;
    padding-bottom: 92px;    
    padding-top: 68px;
}

.slide {
    display: none;
}

.slide-current {
    display: block;
}

.slider-controls {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 88px;
    bottom: 96px;
    left: 50%;
    -webkit-transform: translateX(-44px);
        -ms-transform: translateX(-44px);
            transform: translateX(-44px);
}

.slider-btn {
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border-radius: 50%;
    border: 2px solid var(--basic-white);
    cursor: pointer;
    outline: none;
}

.slider-btn:active {
    border: none;
}

.current {
    background-image: url('../img/icons/btn-ellipse.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.slider-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
    margin-top: 0;
    max-width: 538px;
    margin-bottom: 0;    
}

.slider-text {
    font-size: 16px;
    line-height: 24px;
    max-width: 416px;
    margin-top: 27px;
    margin-bottom: 52px;    
}

/* Buttons */

.btn {
    font-family: "Roboto", "Arial", sans-serif;
    border: none;   
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
    padding-top: 17px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
    outline: none;
    cursor: pointer;
}

.slider .btn {    
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 55px;
    padding-right: 54px;
}

.btn-red {
    background: var(--light-red);
}

.btn-red:hover,
.btn-red:focus {
    background-color: var(--red);
}

.btn-red:active {
    background-color: var(--dark-red);
    color: var(--basic-white-alpha);
}

.btn-green {
    background-color: var(--light-green);
}

.btn-green:hover,
.btn-green:focus {
    background-color: var(--green);
}

.btn-green:active {
    background-color: var(--basic-dark-green);
    color: var(--basic-white-alpha);
}

.btn-yellow {
    background-color: var(--light-yellow);
}

.btn-yellow:hover,
.btn-yellow:focus {
    background-color: var(--yellow);
}

.btn-yellow:active {
    background-color: var(--dark-yellow);
    color: var(--basic-white-alpha);
}

.footer-map .btn-red {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 37px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 47px;
    padding-left: 45px;
    padding-right: 43px;
    padding-top: 17px;
    padding-bottom: 15px;
}

/* Information */

.column-order-link {
    padding-left: 39px;
}

.column-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
    margin-top: 18px;
}

.column-text {
    margin-bottom: 46px;
    margin-top: -3px;
}

.column-img {
    width: 300px;
    height: 146px;
    margin: 0;
}

/* Description */

.description {
    margin-bottom: 0;
}

.article-title {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--basic-black);
    margin-top: 32px;
    margin-bottom: 0;
    margin-left: 0;
}

.description-features .article-subtitle {
    text-align: center;
}

.text-desc {
    font-style: normal;
    color: var(--basik-dark);
}

.article-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--basik-dark);    
}

.description-article .article-subtitle {
    margin-top: 40px;
    margin-bottom: 23px;
}

.article-text {
    max-width: 646px;
    margin-top: 34px;
}

.description-img {
    margin-left: 14px;
    margin-top: -2px;
}

.description-features .article-subtitle {
    margin-left: 17px;
    margin-top: 30px;
    margin-bottom: 21px;
}

.article-item {
    margin-bottom: 24px;
    position: relative;
    padding-left: 37px;
}

.article-item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-image: url("../img/icons/item.svg");
    top: 11px;
    left: 0;
}

.stats p {
    margin: 10px auto;
}

.stats-text-one {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
    color: var(--basic-black);
}

.stats-sup {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
}

.stats-text-three .stats-sup {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
}

.stats .stats-text-two {
    line-height: 18px;
    color: var(--basik-dark);
    margin-top: 12px;
}

/* Partners */

.partners a:not(:last-child) {
    height: 52px;
    border-right: 2px solid var(--light-grey);        
    margin-top: 64px;
    margin-bottom: 64px;
}

.partners-academy {
    margin-right: -4px;    
    padding-left: 32px;
}

.partners-borodinski {
    margin-top: -17px;
    margin-left: 2px;
    padding-left: 24px;
    width: 209px;
    height: 90px;
}

.partners-pink {
    margin-top: 2px;
    padding-left: 39px;
}

.partners-link {    
    margin-right: -21px;
}

.partners-mishka {
    margin-top: 52px;
    padding-left: 44px;
}

.partners-logo {
    opacity: 0.2;
}

.partners-logo:hover,
.partners-logo:focus {
    opacity: 1;
}

.partners-logo:active {
    opacity: 0.1
}

/* Footer */

/* Map */
.footer-map {
    position: relative;
    margin-bottom: 69px;
}

.footer-map-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-contacts {
    position: absolute;
    background-color: var(--basic-white);
    width: 319px;
    top: 55px;
    left: 50%;
    transform: translateX(-581px);
    -webkit-transform: translateX(-580px);
    -moz-transform: translateX(-581px);
    -ms-transform: translateX(-581px);
    -o-transform: translateX(-581px);
}

.contacts-title {    
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
    margin-top: 49px;
    margin-left: 51px;
}

.contacts-address {
    font-style: normal;
    line-height: 18px;
    color: var(--dim-grey);
    margin-left: 51px;
    margin-right: 60px;
    margin-top: 23px;
}

.contacts-address .footer-phone {
    display: block;
    text-decoration: none;
    color: var(--dim-grey);
    margin-top: 18px;
}

.footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* Socials */

.socials-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;    
    width: 80px;
    height: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
    background-color: var(--basic-neutral);
    border-radius: 50%;    
}

.socials-link:not(:nth-last-of-type(3)) {
    margin-right: 11px;
}

.socials-link:nth-last-of-type(1) {
    margin-right: 10px;
}

.socials-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.socials-img {
    fill: var(--basic-white);
}

.socials-vk-img {
    margin-top: 7px;
}

.socials-fb-img {
    margin-top: 9px;
    margin-left: 2px;
}

.socials-inst-img {
    margin-top: 8px;
}

.socials-link:hover,
.socials-link:focus {   
    background-color: var(--red);
}

.socials-link:active {
    background: var(--dark-red);
    -webkit-box-shadow: inset 0 3px 0 var(--basic-shadow-alpha);
            box-shadow: inset 0 3px 0 var(--basic-shadow-alpha);
    fill-opacity: 0.3;
}

.footer-text {
    margin-left: 130px;
    margin-bottom: 54px;
    padding-top: 7px;
}

.footer-slogan {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-black);
    margin-top: 0;
    margin-bottom: 0;
}

.footer-subtitle {
    font-style: normal;
    line-height: 22px;
    color: var(--goshawk-grey);
    margin-top: 10px;
}

/* Catalog */

.catalog-title {
    background-color: var(--light-grey);
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    margin-top: 0;
    padding-top: 68px;
    padding-bottom: 108px;
    margin-bottom: 55px;
}

/* Filter */

.filter-legend {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-top: 0;
}

.filter-range {
    width: 260px;
}

.range-controls {
    position: relative;
    height: 41px;
    border-radius: 3px;
    background-color: var(--light-grey);
    margin-bottom: 14px;
    padding-top: 39px;
    padding-left: 33px;
    padding-right: 22px;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: var(--light-green);
}

.range-controls .scale {
    height: 2px;
    background: var(--range-grey);
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--range-circle-grey);
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px var(--range-shadow-alpha);
            box-shadow: 0 2px 1px var(--range-shadow-alpha);
    cursor: pointer;
    outline: none;
}

.range-controls .toggle-min {
    left: 18px;
}
  
.range-controls .toggle-max {
    left: 160px;
}

.filter-legend-cost {
    margin-bottom: 48px;
}

.filter-legend-grid {
    margin-bottom: 16px;
}

.filter-cost-from::-webkit-outer-spin-button,
.filter-cost-from::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Убираем стрелочки - все, кроме firefox */
    margin: 0;
}

.filter-cost-from {
    width: 76px;
    height: 36px;    
    text-align: center;
    border-radius: 3px;
    -moz-appearance: textfield;
    background-color: var(--light-grey);
    border: none;
    outline: none;
    margin-left: -20px;
}

.filter-cost-from::placeholder {
    font-size: 16px;
    line-height: 22px;
    color: var(--basik-dark);
}

.filter-cost-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 54px;
}

.filter-cost-text {
    font-style: normal;
    line-height: 22px;
    text-transform: uppercase;
}

.filter-text {    
    font-style: normal;
    line-height: 19px;
    color: var(--basik-dark);
}

.filter-grid-list,
.filter-features-list {    
    font-size: 16px;
    line-height: 20px;
    color: var(--basik-dark);
}

.filter-grid-item {
    margin-bottom: 20px;
    vertical-align: center;
}

.filter-grid-item:last-child {
    margin-bottom: 47px;
    margin-top: -2px;
}

.filter-radio + .radio-label {    
    position: relative;
    padding-left: 36px;
}

.filter-radio + .radio-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 25px;
    height: 25px;
    background-image: url("../img/icons/radio.svg");
    background-repeat: no-repeat;
    opacity: 0.4;
}

.filter-radio:checked + .radio-label::before {
    display: none;
}
  
.filter-radio:checked + .radio-label::after {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 25px;
    height: 25px;
    background-image: url("../img/icons/radio-checked.svg");
    background-repeat: no-repeat;
    opacity: 0.4;
}

.filter-radio:hover + .radio-label::before,
.filter-radio:focus + .radio-label::before,
.filter-radio:hover + .radio-label::after,
.filter-radio:focus + .radio-label::after {
    opacity: 1;
}

.filter-radio:disabled + .radio-label::before,
.filter-radio:disabled + .radio-label::after,
.filter-radio:disabled:focus + .radio-label::after,
.filter-radio:disabled:hover + .radio-label::after {    
    opacity: 0.1;
}

.filter-radio:disabled + .radio-label {
    color: var(--radio-disabled);
}

.filter-features-legend {
    margin-bottom: 17px;
}

.filter-features-item {
    margin-bottom: 19px;
}

.filter-features-item:last-child {
    margin-top: 22px;
    margin-bottom: 49px;
}

.filter-checkbox + .checkbox-label {    
    position: relative;
    padding-left: 36px;
}

.filter-checkbox + .checkbox-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 25px;
    height: 23px;
    background-image: url("../img/icons/checkbox-off.svg");
    background-repeat: no-repeat;
    opacity: 0.4;
}

.filter-checkbox:checked + .checkbox-label::before {
    display: none;
}
  
.filter-checkbox:checked + .checkbox-label::after {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 25px;
    height: 23px;
    background-image: url("../img/icons/checkbox-on.svg");
    background-repeat: no-repeat;
    opacity: 0.4;
}

.filter-checkbox:focus + .checkbox-label::before,
.filter-checkbox:hover + .checkbox-label::before,
.filter-checkbox:checked:focus + .checkbox-label::after,
.filter-checkbox:checked:hover + .checkbox-label::after {
    opacity: 1;
}

.filter-checkbox:disabled + .checkbox-label::before,
.filter-checkbox:disabled + .checkbox-label::after,
.filter-checkbox:disabled:focus + .checkbox-label::after,
.filter-checkbox:disabled:hover + .checkbox-label::after {    
    opacity: 0.1;
}

.filter-checkbox:disabled + .checkbox-label {
    color: var(--radio-disabled);
}

.filter-fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.btn-submit {    
    font-style: normal;
    color: var(--basic-black);
    background-color: var(--light-grey);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    padding-left: 89px;
    padding-right: 89px;
    padding-top: 17px;
    padding-bottom: 15px;
}

.btn-submit:hover,
.btn-submit:focus,
.btn-link:hover,
.btn-link:focus {
    background-color: var(--gainsboro);    
}

.btn-submit:active,
.btn-link:active {
    background-color: var(--button-grey);    
    -webkit-box-shadow: inset 0 3px 0 var(--basic-shadow-alpha);    
            box-shadow: inset 0 3px 0 var(--basic-shadow-alpha);    
    color: var(--basic-black-alpha);
}

/* Сортировка */

.sorting-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
}

.sortink-item .sorting-link {
    margin-right: 7px;
    padding-left: 20px;
}

.sorting-down {
    margin-left: 40px;
}

.sorting-up {
    margin-left: 16px;
}

.sorting-link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
    opacity: 0.3;
}

.sorting-link:hover,
.sorting-link:focus {
    opacity: 0.6;
}

.sorting-link:active {
    opacity: 1;
}

.sorting-svg {
    opacity: 0.2;
    fill: var(--sorting-grey)
}

.sorting-svg:focus,
.sorting-svg:hover {
    opacity: 1;
}

.sorting-svg:active {
    fill: var(--sorting-black);
}

/* Каталог товаров */

.catalog-item {    
    display: block;
    position: relative;
    margin-bottom: -6px;
}

.catalog-svg {
    fill: var(--basic-grey);
    fill-opacity: 0.12;
    margin-bottom: -7px;
}

.catalog-picture {
    display: block;
    margin: auto;
    -o-object-fit: contain;
       object-fit: contain;
}

.catalog-item:focus .catalog-svg,
.catalog-item:hover .catalog-svg {
    fill: var(--basic-grey);
    fill-opacity: 1;
}

.hidden {   
    display: none; 
    background-color: var(--light-grey);
    width: 360px;    
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: 0;
}

.hidden-link {
    display: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 12px;
    text-align: center;    
}

.hidden-desc {
    display: inherit;
    font-style: normal;
    line-height: 18px;
    color: var(--dim-grey);
    max-width: 255px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;    
    text-align: center;
}

.hidden .btn-red {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 44px;
    padding-left: 72px;
    padding-right: 72px;
}

.hidden .btn-red:active {
    color:  var(--basic-white);
}

.catalog-item:hover .hidden,
.catalog-item:focus .hidden {
    display: block;
    -webkit-box-shadow: 0 6px 15px var(--catalog-shadow-alpha);
            box-shadow: 0 6px 15px var(--catalog-shadow-alpha);
}

.pagination-item .btn-link:not([href]) {
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 17px;
    background-color: var(--basic-white);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 3px solid var(--white-border);
    border-radius: 3px;
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 76px;
}

.btn-link {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 21px;
    padding-right: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
    border-radius: 3px;
    background-color: var(--light-grey);
}

.btn-next {
    padding-left: 78px;
    padding-right: 78px;
}

.pagination-item {
    margin-right: 11px;        
    margin-bottom: 40px;
}

.catalog-footer .footer-map-img {
    margin-top: 31px;
}

/*Модальное окно */

.modal-contact-us {
    display: none;
    width: 960px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--basic-black);
    background-color: var(--basic-white);
    -webkit-box-shadow: 0 20px 40px var(--popup-shadow);
            box-shadow: 0 20px 40px var(--popup-shadow);
}

.modal-title {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--basic-black);
    margin-left: 100px;
    margin-top: 61px;
    margin-bottom: 36px;
}

.modal-intput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 101px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: inherit;
}

.modal-name,
.modal-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 35px;
}

.modal-email {
    margin-left: 40px;
}

.label-name,
.label-email {
    margin-bottom: 10px;
}

.contact-us-input:hover,
.contact-us-message:hover {
    border: 2px solid var(--placeholder-border-grey);
}

.contact-us-input:focus,
.contact-us-message:focus {
    border: 2px solid var(--basic-black);
    color: var(--goshawk-grey);
}

.contact-us-input:focus::-webkit-input-placeholder, .contact-us-message:focus::-webkit-input-placeholder {
    color: var(--goshawk-grey);
}

.contact-us-input:focus::-moz-placeholder, .contact-us-message:focus::-moz-placeholder {
    color: var(--goshawk-grey);
}

.contact-us-input:focus:-ms-input-placeholder, .contact-us-message:focus:-ms-input-placeholder {
    color: var(--goshawk-grey);
}

.contact-us-input:focus::-ms-input-placeholder, .contact-us-message:focus::-ms-input-placeholder {
    color: var(--goshawk-grey);
}

.contact-us-input:focus::placeholder,
.contact-us-message:focus::placeholder {
    color: var(--goshawk-grey);
}

.contact-us-input:invalid,
.contact-us-message:invalid {
    border: 2px solid var(--red);
    color: var(--red);
}

.contact-us-input {
    width: 360px;
    height: 50px;
    border: 2px solid var(--modal-grey);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
}

.contact-us-input::-webkit-input-placeholder {
    padding-left: 11px;
    color: var(--placeholder-alpha);
}

.contact-us-input::-moz-placeholder {
    padding-left: 11px;
    color: var(--placeholder-alpha);
}

.contact-us-input:-ms-input-placeholder {
    padding-left: 11px;
    color: var(--placeholder-alpha);
}

.contact-us-input::-ms-input-placeholder {
    padding-left: 11px;
    color: var(--placeholder-alpha);
}

.contact-us-input::placeholder {
    padding-left: 11px;
    color: var(--placeholder-alpha);
}

.contact-us-message {
    width: 760px;
    height: 118px;
    margin-top: 8px;
    resize: none;
    border: 2px solid var(--modal-grey);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 43px;
}

.contact-us-message::-webkit-input-placeholder {
    padding-left: 12px;
    padding-top: 10px;
    color: var(--placeholder-alpha);
}

.contact-us-message::-moz-placeholder {
    padding-left: 12px;
    padding-top: 10px;
    color: var(--placeholder-alpha);
}

.contact-us-message:-ms-input-placeholder {
    padding-left: 12px;
    padding-top: 10px;
    color: var(--placeholder-alpha);
}

.contact-us-message::-ms-input-placeholder {
    padding-left: 12px;
    padding-top: 10px;
    color: var(--placeholder-alpha);
}

.contact-us-message::placeholder {
    padding-left: 12px;
    padding-top: 10px;
    color: var(--placeholder-alpha);
}

.modal-btn {
    background-color: var(--light-red);
    border-radius: 3px;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    padding-left: 83px;
    padding-right: 84px;
    padding-top: 17px;
    padding-bottom: 15px;
    margin-bottom: 84px;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--red);
}

.modal-btn:active {
    background-color: var(--dark-red);
    color: var(--basic-white-alpha);
}

.modal-close {
    position: absolute;
    top: 80px;
    right: 89px;
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    background-image: url("../img/icons/close-cross.svg");
    outline: none;    
    opacity: 0.3;  
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}